* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);
    --off-white: hsl(36, 100%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);
    --font-family: 'Inter', sans-serif
}


/* Typography */
h1 {
    font-size: 3.25em;
}

h4 {
    font-size: 3em;
    color: var(--soft-red);
}

h5 {
    font-size: 1.2em;
}

p {
    line-height: 2em;
    color: var(--dark-grayish-blue);
}


body {
    position: relative;
    font-size: 15px;
    font-family: var(--font-family);
    padding-bottom: 2em;
}

.container {
    padding: 1.75em 1em;
    display: grid;
    gap: 3em;
}

.hero {
    display: grid;
    gap: 3.25em;
}

.main-content {
    display: grid;
    gap: 1.5em;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

picture {
    width: 100%;
}

picture > img {
    width: 100%;
}


.title-and-text {
    display: grid;
    gap: 2.75em;
}

.text {
    display: grid;
    gap: 2.75em;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: .5em;
    text-decoration: none;
    color: black;
    width: fit-content;
    font-weight: bold;
    padding: 1em 2em;
    background: var(--soft-red);
}

.button:hover {
    background: black;
    color: white;
}

.new {
    display: grid;
    gap: 1em;
    padding: 2em 1em;
    background: black;
    color: var(--off-white);
}

.new-title {
    color: var(--soft-orange);
}


.new-item {
    padding: 2em 0;
    display: grid;
    gap: 1em;
    border-bottom: 1px solid var(--grayish-blue);
}

.last {
    border: none;
    border-bottom: none;

}


.new-item-text {
    color: var(--grayish-blue);
}

.main {
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 2em;
}

.card {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 2em;
}

.card > img {
    width: 120px;
    max-height: 150px;
    height: 90%;
}

.card-details {
    display: grid;
    gap: 1em;
}

.mask {
    display: grid;
    gap: 3rem;
}

.nav-mobile {
    display: none;
    flex-direction: column;
    gap: 4em;
    height: 100vh;
    position: fixed;
    background: var(--off-white);
    padding: 2em;
    top: 0;
    right: 0;
    bottom: 0;
    left: 8em;
    box-shadow: 1px 1px 100px black;
}

.x {
    text-align: end;
    font-size: 2em;
    width: 100%;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 2em;
    list-style: none;
}

h3:hover {
    color: var(--soft-orange);
}


h5:hover {
    color: var(--soft-red);
}


@media (min-width: 700px){
    .container {
        padding: 5em 10em;
    }


    .mask {
        display: flex;
    }

    .main-content {
        width: 80%;
        gap: 2em;
    }

    .title-and-text {
        display: flex;
        gap: 5rem;
    }

    .main {
        flex-direction: row;
    }

    .new {
        min-width: 400px;
    }

    ul {
        display: flex;
        flex-direction: row;
    }

    li:hover {
        color: var(--soft-red);
    }

}

